OPENMIRAGE_ENV=development
WEB_PORT=3000
VITE_API_BASE_URL=http://localhost
VITE_COLLAB_HTTP_URL=http://localhost/collab
VITE_COLLAB_WS_URL=ws://localhost/collab
VITE_COLLAB_WS_PATH=/collab
VITE_AUTH_PATH=/auth
VITE_WORKER_HTTP_URL=http://localhost/worker
